footer {
  line-height: 125px;
  background: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .socials-logos {
    flex: 1;
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    .fb {
      background: url("../photos/footer_socials/fb.svg");
      @include logo-sizing;
    }

    .ig {
      background: url("../photos/footer_socials/ig.svg");
      @include logo-sizing;
    }
    .twitter {
      background: url("../photos/footer_socials/twitter.svg");
      @include logo-sizing;
    }
    .pinterest {
      background: url("../photos/footer_socials/pinterest.svg");
      @include logo-sizing;
    }
    .wifi {
      background: url("../photos/footer_socials/wifi_black.png");
      @include logo-sizing;
    }
  }
  .copyright {
    color: #ffffff;
    opacity: 0.5;
    font-size: 18px;
  }
}
