@media (max-width: 1130px) {
  nav {
    padding: 0 20px;

    li {
      display: none;
    }
    ul {
      justify-content: flex-end;
    }

    i {
      display: block !important;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vw;
    width: 100vw;
    background: $nav-bg;
    color: white;
    user-select: none;
    transition: 0.5s;
    position: fixed;
    top: 70px;
    z-index: 5;
    transform: translateY(-80vw);

    li {
      list-style: none;
      line-height: 16vw;
      width: 100vw;
      text-align: center;
    }
  }

  .city {
    flex-direction: column;
    justify-content: space-around;
    height: 1600px;
    z-index: -1;

    .city-text {
      align-items: center;
      text-align: center;
      margin-right: 0;
      transform: scale(1.2);
      height: 750px;
      h3 {
        font-size: 34px;
        text-align: center;
      }
      .divider {
        margin: 80px 0 -20px 0;
      }
      button {
        width: 250px;
        line-height: 70px;
      }
    }
    .form-container {
      transform: scale(1.3);
    }
  }
  .socials {
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 50px;
    height: 160px;
    justify-content: space-around;
    .socials-logos {
      width: 100%;
    }
  }
  .mountains {
    flex-direction: column;
    justify-content: space-around;
    height: 1200px;
    background-size: 400%;
    padding: 0 20px;

    .boxes {
      display: flex;
      justify-content: space-around;
      width: 100%;
      transform: scale(1);
      position: relative;
      top: 10px;
    }
    .tab-swoosh {
      flex-direction: column;
      justify-content: space-around;
      height: 1000px;
      position: relative;
    }
    .mountain-text {
      transform: scale(1.1);
      position: relative;
      top: -30px;
    }
    .boxes-grid {
      transform: scale(1.2);
      position: relative;
      top: -30px;
    }
  }
  .third-panel {
    flex-direction: column;

    height: 740px;
    .logo,
    .text {
      transform: scale(0.95);
    }
  }
  .awesome {
    height: 1200px;
    h3,
    .divider,
    p {
      position: relative;
      bottom: -50px;
    }
    .container {
      flex-direction: column;
      align-items: center;
      height: 1000px;
      position: relative;
      bottom: -30px;
      div {
        justify-content: center;
        .logo,
        h4,
        p {
          transform: scale(1.4);
        }
        h4 {
          margin-bottom: 0px;
        }
      }
    }
  }
  .pricing {
    justify-content: center;
    height: 1750px;

    .container {
      height: 1600px;
      flex-direction: column;
      align-items: center;
      margin-top: 0;

      .price-tab {
        width: 100vw;
        max-width: 70vw;
      }
      .price-tab:hover {
        transform: none;
      }
      .last-tab {
        position: relative;
        top: -30px;
      }
    }
  }
  .contacts {
    height: 700px;
    justify-content: center;
    h3,
    p {
      transform: scale(1.2);
    }
    p {
      margin: 0 0 70px 0;
    }
    .form-container {
      transform: scale(1.2);
    }
  }
  footer {
    flex-direction: column;
    height: 200px;
    line-height: 20px;
    justify-content: center;
    padding: 0 30px;
    .socials-logos {
      width: 100%;
      flex: 2;
      align-items: center;
    }
    .copyright {
      flex: 1;
    }
  }
}
