.city {
  color: $city-white;
  background-image: linear-gradient(rgba(28, 28, 28, 0.7), rgba(28, 28, 28, 0.7)), url("../photos/city.png");
  height: 639px;
  background-position-y: 78%;
  padding: 0 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  max-width: 100vw;

  .city-text {
    display: flex;
    height: 500px;
    margin-right: 50px;
    flex-direction: column;
    justify-content: space-around;

    .city-logo {
      background-image: url("../photos/logo.svg");
      height: 107.61px;
      width: 246.74px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .divider {
      background-image: url("../photos/divider.png");
      width: 84px;
      height: 22px;
      background-repeat: no-repeat;
      position: relative;
      left: -6px;
    }
    h3 {
      font-size: 36px;
      max-width: 427px;
      height: 87px;
      text-align: left;
    }
    p {
      max-width: 651px;
      line-height: 24px;
      font-size: 16px;
      opacity: 0.7;
      font-weight: 600;
    }
    button {
      color: $city-white;
      width: 135px;
      line-height: 42px;
      background: transparent;
      border: $city-white 2px solid;
      transition: 0.3s;
      cursor: pointer;
    }
    button:hover {
      opacity: 0.5;
    }
  }

  .form-container {
    min-width: 360px;

    height: 425px;
    box-shadow: 0px 5px 20px #00000029;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
    position: relative;

    header {
      background: #f5f5f5;
      line-height: 57px;
      // width: 360px;
      // margin: auto;
      text-align: center;
      color: #333333;
      font-size: 20px;
      font-weight: bold;
      span {
        color: #e27866;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      height: 311px;
      width: 260px;
      margin: auto;
      font-weight: bold;
      h5 {
        color: #1c1c1c;
        margin-bottom: 22px;
        font-size: 16px;
      }
      input {
        width: 260px;
        border: none;
        border-bottom: 1px #d8d8d8 solid;
        margin-bottom: 33px;
        outline: none;
        height: 15px;
        text-indent: 7px;
      }
      input::placeholder {
        color: #d8d8d8;
        text-indent: 7px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .radio-container {
        display: flex;
        font-size: 9px;
        color: #000000;
        input {
          height: 13px;
          width: 13px;
          margin: 0 3px;
        }
        div {
          display: flex;
          align-items: center;
        }
        input[type="radio"] {
          display: none;
        }

        label {
          cursor: pointer;
          position: relative;
          font-size: 13px;
          right: -20px;
          margin-right: 30px;
        }

        label::before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: transparent;
          border: 2px solid #41d395;
          border-radius: 50%;
          top: 50%;
          left: -20px;
          transform: translateY(-50%);
          transition: border-color 400ms ease;
        }

        label::after {
          content: "";
          position: absolute;
          width: 6px;
          height: 6px;
          background-color: #41d395;
          border: 2px solid #41d395;
          border-radius: 50%;
          top: 50%;
          left: -18px;
          transform: translateY(-50%) scale(0);
          transition: transform 400ms ease;
        }

        input[type="radio"]:checked + label::before {
          border-color: #41d395;
        }

        input[type="radio"]:checked + label::after {
          transform: translateY(-50%) scale(0.55);
        }
      }
    }
    button {
      background: #41d395;
      color: white;
      line-height: 57px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      transition: 0.5s;
      user-select: none;
      outline: none;
      border: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    button:hover {
      background: #2d9c6e;
    }
  }
}
